
<div class="fenye">
	<a href="javascript:void(0)" page="1">首页</a>
	<a href="javascript:void(0)" page="<{if $curpage <= 1}>1<{else}><{$curpage - 1}><{/if}>">上一页</a>
	<{for $i=1 to $count}>
		<a href="javascript:void(0);" page="<{$i}>"><{$i}></a>
	<{/for}>
	<a href="javascript:void(0)" page="<{if $curpage >= $count}><{$count}><{else}><{$curpage + 1}><{/if}>">下一页</a>
	<a href="javascript:void(0)" page="$count">末页</a>
</div>	

<script type="text/javascript">
	$('.fenye a').on('click',function(){
		$.ajax({
			type:"post",
			url:"/divcss/admin/index.php?oper=admin|usermanage",
			data:{
				"pagecur":$(this).attr('page'),
				"cname":$('#cname').val(),
				"email":$('#email').val(),
				"phone":$('#phone').val(),
				"starttime":$('#starttime').val(),
				"endtime":$('#endtime').val()
			},
			success : function( text ) {
				$(".main").hide();
				$(".main").html(text);
				$(".main").fadeIn();
			},
			async:true
		});
	})
		
</script>